@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans&display=swap');
:root{
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-padrao:  'Josefin Sans', sans-serif;
    --cor0: #c1eefd;
    --cor1: #56ccf3;
    --cor2: #2C9ABF;
    --cor3: #3D6573;
    --cor4: #1A5D73;

}
body{
    background-color: var(--cor0);
    margin: 0px;
    padding: 0px;

}
header{
    padding: 200px;
    background-image: url(header.PNG);
    background-size: cover;
}
#titulo{
    font-family: var(--fonte-destaque);
    color:white;
    text-align: center;
    margin: 0px;
    font-size: 3em;
    padding: 12px;
}
#subtitulo{
    font-family: var(--fonte-padrao);
    color: white;
    font-size: 15px;
    text-align: center;
    margin: 0px;
}
#sobre{
    text-align: center;
    background-color: white;
    color: #19343d;
    padding: 40px;
}
#sobre h1{
    font-family: var(--fonte-destaque);
}
#sobre ul{
    display: flex;
}
#sobre ul li{
    list-style-type: none;
    text-align: justify;
    padding: 20px;
}
#sobre ul li p{
    font-family: var(--fonte-padrao);
}
#colunas ul{
    background-color: #19343d;
    margin: 0px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 50px;
}
#colunas ul li{
    background-color:white;
    width: 20%;
    color: #19343d;
    padding: 10px;
    text-align: center;
}
#colunas ul li h1{
    font-family: var(--fonte-destaque);
}
#colunas ul li p{
    font-family: var(--fonte-padrao);
}
#contato{
    background-color: white;
    color: #19343d;
    padding: 40px;
}
#contato h1{
    font-family: var(--fonte-destaque);
    text-align: center;
}
#contato ul{
    list-style-type: none;
    font-family: var(--fonte-padrao);
    font-size: 20px;
    display: flex;
    text-align: center;
}
#contato ul li{
    background-color: #19343d;
    color: white;
    margin: 20px;
    padding: 30px;
}
#contato ul li a{
    text-decoration: none;
    color: white;
}
#rodape{
    text-align: center;
    background-color: #19343d;
    color: white;
    font-family: var(--fonte-padrao);
    padding: 5px;
}
#rodape a{
    color: white;
}